<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128496133213-1jkhrpcskh88r2a5ol9mfne4afmoulbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128496133213-1jkhrpcskh88r2a5ol9mfne4afmoulbb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>128496133213-4uhiff65jdteeiail63iqsgo6t3m40ml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxYxRRtiwB9d0Tu0QrN7CTVrvfatGGoLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>128496133213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gtchatpro.app</string>
	<key>PROJECT_ID</key>
	<string>gtchatpro-15704</string>
	<key>STORAGE_BUCKET</key>
	<string>gtchatpro-15704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128496133213:ios:6af366d5aeb4eeb31f99b4</string>
</dict>
</plist>